.day {
    align-items: center;
    background-color: #00000012;
    border: 1px solid #fff;
    display: flex;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    min-height: 46px;
    position: relative;
}

.day p {
    margin: 0;
}

.day.past {
    background-color: rgb(226, 224, 224);
    color: #aaa;
}

.day.today {
    background-color: #bd1818;
    color: #fff;
    font-weight: 500;
}

.dayNumber,
.weekDay {
    align-items: center;
    background: rgba(255,255,255,0.7);
    color: #333;
    display: flex;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
    line-height: 11px;
    width: 15px;
    height: 13px;
    top: 0;
    left: 0;
    position: absolute;
}

.day.past .dayNumber {
    background: #999;
    color: #fff;
}
.day.past .weekDay {
    background: #ccc;
    color: #fff;
}

.weekDay {
    background: rgba(255,255,255,0.3);
    left: 16px;
    width: 14px;
}

.dayPoint {
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    position: absolute;
}

.point {
    background: rgba(175, 8, 8, 1);
    border-radius: 50%;
    cursor: pointer;
    right: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    position: absolute;
}

.title {
    display: none;
    background: #fff;
    border-radius: 8px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.5));
    color: #333;
    font-size: 0.825rem;
    white-space: nowrap;
    padding: 16px;
    width: auto;
    bottom: 10px;
    justify-content: center;
    position: absolute;
    z-index: 999;
}

.title:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    bottom: -8px;
    margin-left: -11px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
    position: absolute;
}

.dayPoint:hover .title {
    display: flex;
}